.header-wrapper {
  background-color: white;
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 5px 0px;
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.3),
    0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  z-index: 2;
}

.chats-body {
  background-image: url("../images/chatBg.png");
  min-height: 1000vh;
  padding: 10px 0px;
  padding-top: 100px;
}

.chats-body .header,
.chats-body .status-bar {
  padding: 0px 20px;
}

.chat__write--container {
  display: flex;
  bottom: 0px;
  position: fixed;
  border: none;
  font-size: 14px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.chat__icon-left {
  position: absolute;
  left: 10px;
}
.chat__icon-right {
  position: absolute;
  right: 10px;
}

.chat__write-column:nth-child(2) {
  width: 80%;
}

@keyframes float {
  0% {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }

  50% {
    box-shadow: 0 13px 27px -50px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }

  100% {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
}

.chat__write {
  bottom: 0px;
  width: 100%;
  border-radius: 0;
  padding: 20px 60px;
  border: none;
  font-size: 14px;
  margin: 0 auto;
  transition: width 0.5s ease-in-out, border-radius 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}

.chat__write:focus {
  outline: none;
  width: 80%;
  transform: translateY(-100px);
  border-radius: 40px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  animation: float 2s linear infinite forwards;
}

.chat__icon {
  font-size: 18px;
  transition: opacity 0.3s ease-in-out;
}

.chat__write:focus ~ .chat__icon {
  opacity: 0;
}

.chat-screen .chat__messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #f7f7f7;
  padding: 0px 20px;
  padding-top: 30px;
}

.chat__messages .chat__timestamp {
  background-color: white;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0px 8px 16px -8px rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.025) 0px -6px 16px -6px;
  text-transform: uppercase;
  font-weight: 700;
}

.message {
  display: flex;
  align-items: flex-start;
  width: 50%;
  margin-bottom: 20px;
}

.message .message__content {
  width: 80%;
}
@keyframes spin {
  from {
    transform: none;
  }

  to {
    transform: rotateY(1turn);
  }
}
.incoming-message img {
  width: 30px;
  border-radius: 15px;
  margin-right: 15px;
  box-shadow: 0px 8px 16px -8px rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.025) 0px -6px 16px -6px;
  animation: infinite spin 1s linear;
}

@keyframes incomingAni {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.incoming-message {
  align-self: flex-start;
  animation: incomingAni forwards ease-out 0.5s;
}

@keyframes sentAni {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
.sent-message {
  align-self: flex-end;
  animation: ease-out forwards sentAni 0.5s;
}

.message .message__bubble {
  box-shadow: 0px 8px 16px -8px rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.025) 0px -6px 16px -6px;
  padding: 10px 20px;
  border-radius: 30px;
  color: white;
  font-weight: 600;
  display: block;
}

.incoming-message .message__author {
  margin-top: 10px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}

.incoming-message .message__bubble {
  border-bottom-left-radius: 0px;
  background-image: linear-gradient(to right, #fc00ff, #00dbde);
}

.sent-message .message__bubble {
  border-bottom-right-radius: 0px;
  background-image: linear-gradient(to left, #00c6ff, #0072ff);
}
